## Tasks

### Load the wine dataset

In [8]:
import pandas as pd

df_reviews = pd.read_csv("../data/winemag-data-130k-v2.csv", index_col=0)
df_reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

Calculate the `median` of the `points` column from the dataset

In [9]:
# save in a variable called: median_points
median_points = df_reviews.points.median()
median_points

88.0

In [10]:
# Find which countries are represented in the dataset
# Store values in: countries
countries = df_reviews.country.unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [11]:
# Find how often each country appears in the set
# Store values in: reviews_per_country
reviews_per_country = df_reviews.country.value_counts()
reviews_per_country

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [20]:
# Create a series called: centered_price
# that contains the price column with the mean price substracted
centered_price = df_reviews.price - df_reviews.price.mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [25]:
# Find the bargain wine.
# Create a variable called: bargain_wine with the title of the highest point-per-price ratio
df_reviews_ratio = df_reviews.copy()
df_reviews_ratio.dropna(inplace=True, how='all', subset=["price", "points"])
df_reviews_ratio["points_price_ratio"] = df_reviews_ratio.points / df_reviews_ratio.price
bargain_wine = df_reviews_ratio.loc[df_reviews_ratio.points_price_ratio.idxmax(), "title"]
bargain_wine

'Bandit NV Merlot (California)'

In [37]:
# Create a Series called: descriptor_counts
# Count how many times each of the words: 'fruity' and 'tropical' appear in the description column
descriptor_counts_fruity = df_reviews.description.str.lower().str.count('fruity').sum()
descriptor_counts_tropical =  df_reviews.description.str.lower().str.count('tropical').sum()
descriptor_counts = pd.Series({"Fruity": descriptor_counts_fruity, "Tropical": descriptor_counts_tropical})
descriptor_counts

Fruity      9633
Tropical    3907
dtype: int64

In [39]:
# Create another Series calles: star_ratings
# With the number of stars corresponding to each review in the set
# Rating system ranges from 80-100 points
# A score of 95 or higher = 3 stars
# A score of at least 85 but less than 95 = 2 stars
# Any other score is 1 stars
def points_to_star(point: int) -> int:
    if point >= 95:
        return 3
    if point >= 85:
        return 2
    return 1

star_ratings = df_reviews.points.map(points_to_star)

# Get the value counts and sort
star_ratings.value_counts().sort_index()

points
1     12430
2    115125
3      2416
Name: count, dtype: int64